{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>


<!-- END nav -->

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/index.webp' %});"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">{{ title }}</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Басты бет <i
                        class="ion-ios-arrow-forward"></i></a></span> <span>{{ title }}</span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-16 ftco-animate">


                <p style="color:black">
                    Қазақстандағы ақпараттық-коммуникативтік технологиялардың дамуы кем дегенде соңғы екі пікірдің жүзеге асуына кепілдік бере алады. Дәл осы азаматтар мен мемлекеттің өзара әрекеттестігін ыңғайлы, қарапайым, қолжетімді және түсінікті ету үшін  электрондық үкімет тұжырымдамасы әзірленді.
  </p> <p style="color:black"style="color:black">
«Қазақстан Республикасында 2005-2007 жылдары «электрондық үкіметті» құрудың мемлекеттік бағдарламасы туралы» Қазақстан Республикасы Президентінің 2004 жылғы 10 қарашадағы №1471 Жарлығы «электрондық үкіметтің» порталын құруға негіз болды.
  </p> <p style="color:black">
«Ұлттық ақпараттық технологиялар» АҚ «электрондық үкіметтің» порталын басқару мен сүйемелдеуге тікелей қатысады. «Электрондық үкіметтің» порталы 2006 жылдан бастап жұмыс істейді.
  </p> <p style="color:black">
Электрондық үкімет құру ісі билік органдарының жұмысын анағұрлым тиімді, азаматтарға қолжетімді ету үшін қажет болды. Бұрындары әрбір мемлекеттік орган өз бетінше «оқшау өмір сүріп», басқаларымен  байланысқа түсе қоймайтын, ал азаматтардың алуан түрлі анықтама, растама секілді өзге де қағаздарды жинау үшін толып жатқан инстанциялардан  өтуіне тура келетін. Осының барлығы бір ғана қызмет түрін пайдалану үшін толып жатқан мекемелер табалдырығын тоздыруға  мәжбүрлейтін. Бүгінде электрондық үкімет жобаларының арқасында ол заман келмеске кетті.
  </p> <p style="color:black">
Электрондық үкімет – ақпараттық технологиялар көмегімен ішінара келісушілікті қамтамасыз ететін, мемлекет пен азаматтар арасындағы, сондай-ақ, мемлекеттік органдардың өзара әрекеттестігінің бірыңғай механизмі. Мемлекеттік органдарға кезекті қысқартып, анықтама, куәлік, рұқсат құжаттарын және тағы басқаларын алуды жеңілдетуге әрі жылдамдатуға  мүмкіндік берген де дәл осы механизм.

                </p>


            </div>
        </div>
    </div>
</section>



</body>
{% endblock content %}