{% load static %}



<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">

            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Сыртқы ресурстар</h2>
                    <ul class="list-unstyled">
                        <li><a href="https://egov.kz/cms/kk/articles/state_symbols" class="py-1 d-block"><span
                                class="ion-ios-arrow-forward mr-3"></span>ҚР мемлекеттік рәміздері</a></li>
                        <li><a href="https://egov.kz/cms/kk/information/state_agencies/ministries_committees"
                               class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>ҚР мемлекеттік
                            органдары</a></li>
                        <li><a href="https://egov.kz/cms/kk/articles/gos_organi" class="py-1 d-block"><span
                                class="ion-ios-arrow-forward mr-3"></span>ҚР Конституциясы</a></li>
                        <li><a href="https://egov.kz/cms/kk/articles/state_plan" class="py-1 d-block"><span
                                class="ion-ios-arrow-forward mr-3"></span>ҚР Президентінің жолдауы</a></li>


                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Біздің мекен-жайымыз</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Әл-Фараби даңғылы 71, Алматы</span>
                            </li>
                            <li><a href="#"><span class="icon icon-phone"></span><span
                                    class="text">+7 707 149 85 35</span></a></li>
                            <li><a href="mailto:nurtileu.abdikhalyk@gmail.com"><span class="icon icon-envelope"></span><span class="text">nurtileu.abdikhalyk@gmail.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Біз әлеуметтік желілерде</h2>
                    <div class="opening-hours">
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                     &copy;<script> document.write(new Date().getFullYear());</script>
                    Барлық құқық сақталған by Nurtileu Abdikhalyk</p>
            </div>
        </div>
    </div>
</footer>

